{% extends "frontend/template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Connexion</title>
{% endblock %}

{% block body %}

    <div class="container container-white mt-3 pt-2 pb-2 rounded">
        <h2 class="text-center">Connexion</h2>
        <form method="POST" action="">
            <input type="email" name="mailconnect" placeholder="Mail" class="form-control mb-2"/>
            <input type="password" name="mdpconnect" placeholder="Mot de passe" class="form-control"/>
            <button type="submit" name="formconnect" class="btn btn-primary mt-2 mb-2">Se connecter</button>
        </form>
        {% if hasFormError %}
            <div class="text-danger">Identifiants incorrects</div>
        {% endif %}
    </div>

{% endblock %}
