{% extends "frontend/template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Inscription</title>
{% endblock %}

{% block body %}
    <div align="center">
        <h2>Inscription</h2>
        <form method="POST" action="index.php?action=forminscription">
            <table>
                <tr>
                    <td align="right">
                        <label for="pseudo">Pseudo : </label>
                    </td>
                    <td>
                        <input type="text" placeholder="Votre pseudo" id="pseudo" name="pseudo" value=""/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mail">Mail : </label>
                    </td>
                    <td>
                        <input type="email" placeholder="Votre mail" id="mail" name="mail"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mail2">Confirmation du mail : </label>
                    </td>
                    <td>
                        <input type="email" placeholder="Confirmer votre mail" id="mail2" name="mail2"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mdp">Mot de passe : </label>
                    </td>
                    <td>
                        <input type="password" placeholder="Votre mot de passe" id="mdp" name="mdp"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mdp2">Mot de passe : </label>
                    </td>
                    <td>
                        <input type="password" placeholder="Confirmer votre mdp" id="mdp2" name="mdp2"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">
                        <br/>
                        <input type="submit" value="Je m'inscris"/>
                    </td>
                </tr>
            </table>


        </form>
    </div>

{% endblock %}
