{% extends "frontend/template.html.twig" %}

{% block head %}

    <title>accueil</title>

{% endblock %}

{% block body %}

    <div class="global-container">
        <div class="container mt-3 mb-3">
            <h2 class="text-center">Billet simple pour l'Alaska</h2>
            <div class="container-white mt-5 rounded ">
                <table class="table table-hover">
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td><a class="text-dark "
                                   href="index.php?action=post&amp;id={{ post.id }}">{{ post.title|escape }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}

{% endblock %}
