{% extends "backend/template-2.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title> administration </title>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script> tinymce.init({selector: '#content'}); </script>
{% endblock %}

{% block body %}
    <div class="global-container">
        <div class="ml-2 mt-3">
            <p><a class="text-white" href="index.php?action=displayPostAdmin">Retour</a></p>
        </div>
        <div class="container container-white mt-3 mb-3 rounded pt-2 pb-2">
            <h2>créer un nouvel épisode</h2>

            <form action="index.php" method="post">
                <div>
                    <input type="hidden" id="action" name="action" value="createPost"/>
                </div>
                <div>
                    <label for="title">titre</label><br/>
                    <input type="text" id="title" name="title" class="form-control"/>
                </div>
                <div>
                    <label for="content">texte</label><br/>
                    <textarea id="content" name="content" class="form-control"></textarea>
                </div>
                <div>
                    <button class="btn btn-success mt-2" type="submit">Poster</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
