<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php">Espace d'administration</a>
    <a class="btn btn-danger mr-0 ml-auto" href="index.php?action=disconnect">Déconnexion</a>
</nav>
