html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}
.container-white {
    background-color:white;
}
.global-container {
    margin-bottom: 100px;
}
.bas {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}
.wallpaper {
    background-image: url("../img/alaska.jpg");
    background-attachment: fixed;
}
.wallpaper-2 {
    background-image: url("../img/alaska2.jpg");
    background-attachment: fixed;
}