.textwhite{
    color: white !important;
}

.container{
    background-color:white !important;
    margin:4% auto !important;
}

.wallpaper{
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 620px;
    background-repeat: no-repeat;
}

.textblack{
    color: black !important;
}

