{% extends "template-2.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Bienvenue dans l'interface d'administration du site</title>
{% endblock %}

{% block body %}

    <div class="regle-2 ml-2 mt-2" align="center">
        <a class="form-control w-25 mt-9 mb-2" href="index.php?action=displayCommentAdmin">Acceder à l'interface de gestion des commentaires</a>
        <a class="form-control w-25 " href="index.php?action=displayPostAdmin">Acceder à l'interface de gestion des épisodes</a>
    </div>

{% endblock %}



