{% extends "template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title> administration </title>
{% endblock %}

{% block body %}

    <ul>
        <li><a href="index.php?action=displayCommentAdmin">acceder a l'interface de gestion des commentaires</a></li>
        <li><a href="index.php?action=displayPostAdmin">acceder a l'interface de gestion des épisodes</a></li>
    </ul>

{% endblock %}



