{% extends "template-2.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title> administration </title>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script> tinymce.init({ selector: '#content' }); </script>
{% endblock %}

{% block body %}
<div class="container">
    <h2>créer un nouvel épisode</h2>

<form action="index.php">
    <div>
        <input type="hidden" id="action" name="action" value="createPost" />
    </div>
    <div>
        <label for="title">titre</label><br />
        <input type="text" id="title" name="title" />
    </div>
    <div>
        <label for="content">texte</label><br />
        <textarea id="content" name="content"></textarea>
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="valider"/>
    </div>
</form>
</div>
{% endblock %}
