{% extends "template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title> administration </title>
{% endblock %}

{% block body %}

    <ul>
        <li><a href="AdminPost.php?AdminPost">acceder a l'interface de gestion des episodes</a></li>
        <li><a href="AdminComment.php?AdminComment">acceder a l'interface de gestion des commentaires</a></li>
    </ul>



{% endblock %}



