{% extends "template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title> administration </title>
{% endblock %}

{% block body %}

    <h2>liste des commentaires signalés</h2>

    <ul>

        {% for comment in comments %}

            <h3>

                <p>
                <div class="mb-2">
                    Auteur du commentaire : {{ comment.author|escape }}
                </div>
                <div class="mb-2">
                    Contenu du commentaire : {{ comment.comment }}
                </div>

                <div>
                    Motif du signalement : {{ comment.signalement }}
                </div>

                </p>

            </h3>

            <p>
                <em><a class="btn btn-danger" href="index.php?action=deleteById&amp;idComment={{ comment.id }}">supprimer le commentaire</a></em>
            </p>

        {% endfor %}

    </ul>

{% endblock %}