{% extends "template-2.html.twig" %}

{% block head %}
  <meta charset="utf-8"/>
  <title> administration </title>
{% endblock %}

{% block body %}

  <div class="container container-white mt-3 mb-3 rounded pt-2 pb-2">
    <h2>Liste des commentaires signalés</h2>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Auteur</th>
        <th scope="col">Contenu</th>
        <th scope="col">Motif</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for comment in comments %}
        <tr>
          <td>{{ comment.author|escape }}</td>
          <td>{{ comment.comment }}</td>
          <td>{{ comment.signalement }}</td>
          <td>
            <a class="btn btn-danger" href="index.php?action=deleteById&amp;idComment={{ comment.id }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


  </div>
  <div class="regle-3"></div>
{% endblock %}
