{% extends "template.html.twig" %}

{% block head %}
    <meta charset="utf-8"/>
    <title>Connextion</title>
{% endblock %}

{% block body %}
    <div align="center">
        <h2>Connection</h2>
        <form method="POST" action="">
            <input type="email" name="mailconnect" placeholder="Mail"/>
            <input type="password" name="mdpconnect" placeholder="Mot de passe"/>
            <input type="submit" name="formconnect" value="Se connecter"/>
        </form>
    </div>

{% endblock %}
