{% extends "template.html.twig" %}

{% block head %}

    <title>accueil</title>

{% endblock %}

{% block body  %}


<div class="text-center pt-5">
    <h2><strong>Billet simple pour l'Alaska</strong></h2>
</div>



{% endblock %}

{% block footer %}

{% endblock %}
