{% extends "template.html.twig" %}

{% block head %}

    <title>accueil</title>

{% endblock %}

{% block body  %}


<div class="div-title text-center pt-7">
    <h2><strong>Billet simple pour l'Alaska</strong></h2>
    <div class="regle-5"></div>
</div>



{% endblock %}

{% block footer %}

{% endblock %}
