<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="/public/css/style.css" rel="stylesheet"/>

    {% block head %}{% endblock %}
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-info">

    <a class="navbar-brand textwhite" href="index.php">Bienvenue sur le blog de Jean Forteroche</a>


    <div class="collapse navbar-collapse " id="navbarSupportedContent">


        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Episodes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="index.php?action=post&amp;id=1">Episode 1 : Découverte</a>
                <a class="dropdown-item" href="index.php?action=post&amp;id=2">Episode 2 : Terre hostile</a>
                <a class="dropdown-item" href="index.php?action=post&amp;id=3">Episode 3 : L'appel de la nature</a>
            </div>
        </div>

    </div>
</nav>

{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<footer class="page-footer font-small bg-info pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center ">

        {% block footer %}{% endblock %}
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a> Anne Gasté </a>
        </div>
    </div>


</footer>

</body>


</html>
