<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="public/css/style.css" rel="stylesheet"/>
    {% block head %}{% endblock %}
</head>

<body class="wallpaper" background="public/img/alaska2.jpg">

<nav class="navbar navbar-expand-lg navbar-light bg-info ">

    <a class="navbar-brand-2 textwhite " href="index.php">Bienvenue dans l'espace d'administration du blog de Jean Forteroche</a>

</nav>

{% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


<footer class="page-footer ">

    <div class="container-fluid  text-center textblack mb-2">

        {% block footer %}{% endblock %}



        <a href="index.php" class="textwhite">Revenir à l'acceuil du site</a>

        <div class="footer-copyright textwhite ">
            © 2018 Copyright:
            <a> Anne Gasté </a>
        </div>
    </div>


</footer>



</body>
</html>
