<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="public/css/style.css" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
